@import './components/header.css';
@import './components/sidebar.css';
@import './components/footer.css';
@import './pages/userPage.css';
@import './components/login_form.css';
@import './pages/MoviePage.css';
@import './pages/aboutPage.css';
@import './pages/startPage.css';
@import './pages/registerPage.css';
@import './pages/BookingPage.css';
@import './pages/saloon.css';
@import './pages/ticketPage.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #212121;
  /* background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
  /* background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  /* background: radial-gradient(
    circle,
    rgba(225, 224, 226, 1) 3%,
    rgb(158, 157, 159) 67%
  ); */
  /* background-image: linear-gradient(
    90deg,
    rgb(28, 28, 28) 0%,
    rgb(60, 58, 58) 100%
  ); */
  /* background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
  background-image: url('../images/testcover.webp'),
    linear-gradient(#eb01a5, #d13531);
  /* background: radial-gradient(
      circle closest-corner at center 125px,
      #222,
      black 100%
    )
    no-repeat; */
  /* background-color: #000000; */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 100)),
    url('../images/testcover.webp');
}

main {
  flex: 1;
}
