@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Sansita+Swashed:wght@400;700&family=Shrikhand&display=swap');
@import './components/header.css';
@import './components/sidebar.css';
@import './components/footer.css';
@import './pages/userPage.css';
@import './components/login_form.css';
@import './pages/MoviePage.css';
@import './pages/aboutPage.css';
@import './pages/startPage.css';
@import './pages/registerPage.css';
@import './pages/BookingPage.css';
@import './pages/saloon.css';
@import './pages/ticketPage.css';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Merriweather';
}

* p {
  color: #3a4752;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
}
header {
  background-color: #798f96;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #96acb3;
  overflow-x: hidden;
}

main {
  flex: 1;
}
