@import './components/header.css';
@import './components/sidebar.css';
@import './components/footer.css';
@import './pages/userPage.css';
@import './components/login_form.css';
@import './pages/MoviePage.css';
@import './pages/aboutPage.css';
@import './pages/startPage.css';
@import './pages/registerPage.css';
@import './pages/BookingPage.css';
@import './pages/saloon.css';
@import './pages/ticketPage.css';
@import './components//bookingModal.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #212121;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-image: url('../images/testcover.webp'),
    linear-gradient(#eb01a5, #d13531);
  background: linear-gradient(
      to bottom,
      rgba(33, 33, 33, 0.7),
      rgb(33, 33, 33, 1)
    ),
    url('../images/testcover.webp');
}

body::before {
  content: '';
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

main {
  flex: 1;
}
