@import './components/header.css';
@import './components/sidebar.css';
@import './components/footer.css';
@import './pages/userPage.css';
@import './components/login_form.css';
@import './pages/MoviePage.css';
@import './pages/aboutPage.css';
@import './pages/startPage.css';
@import './pages/registerPage.css';
@import './components/select.css';
@import './pages/BookingPage.css';
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #bebdbf;
  overflow-x: hidden;
  /* background: radial-gradient(
    circle,
    rgba(225, 224, 226, 1) 3%,
    rgb(158, 157, 159) 67%
  ); */
}

main {
  flex: 1;
}
