@import './components/header.css';
@import './components/sidebar.css';
@import url(/css/components/youtube-carousell.css);
@import url(/css/components/header.css);
@import './components/login_form.css';
@import './pages/MoviePage.css';
@import './components/footer.css';

@import './components/login_form.css';
@import './pages/startPage.css';
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
}
body {
}
