.video-slider {
  width: 600px;
  height: 320px;
  background: #444;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 600px;
  height: 320px;
  text-align: center;
  overflow: hidden;
}
.slide:first-child {
  left: 0;
}
.video {
  height: 100%;
  width: 100%;
}
.slide-arrow {
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  height: 45%;
  width: 15%;
  cursor: pointer;
  opacity: 0.5;
}
.slide-arrow:hover {
  opacity: 1;
}
.slide-arrow:after {
  content: '\003c';
  text-align: center;
  display: block;
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 3em;
}
.slide-arrow.right:after {
  content: '\003e';
}
.slide-arrow.right {
  left: auto;
  right: 0;
}

iframe {
  width: 600px;
  height: 320px;
  border: 0;
}
