@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.booking-modal_container {
  font-family: 'Montserrat', sans-serif;
  /* position: absolute; */
  width: 70%;
  height: fit-content;
  min-height: 70%;
  display: flex;
  flex-direction: column;
  background-color: grey;
  position: absolute;
  z-index: 100;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
  max-width: 500px;
  min-width: 400px;
  /* max-height: 600px; */
  border-radius: 10px;
}

.button-delete {
  background-color: grey;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  color: none;
  text-align: center;
  display: inline;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 0;
  border-radius: 100px;
  outline: none;
  margin: 0.5rem 0.5rem 0 0;
  border: none;
}

.button-delete:hover,
.button-delete:active {
  background-color: silver;
}

.separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.booking-info_container {
  display: flex;
  flex-direction: column;
  /* height: fit-content; */
  line-height: 2rem;
  font-weight: bold;
  position: relative;
  align-items: center;
}

.booking-info_container tr {
  /* text-align: center; */
}

.booking-info_container p {
  font-weight: bold;
}

.booking-check {
  display: inline;
  height: 1.7rem;
  width: 1.5rem;
  position: absolute;
  right: 1.5rem;
  top: 3.5rem;
  border-radius: 300px 300px 300px 300px;
  background-color: black;
}

.booking-check_img {
  display: inline;
  height: 3rem;
  width: 2.4rem;
  position: absolute;
  top: -0.6rem;
  left: -0.4rem;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.booking-modal_title h1 {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.booking-seat {
  margin: 0;
  line-height: 20px;
}

.booking-value {
  margin-left: 1rem;
  font-weight: 100;
  text-align: left;
}

.modal-value {
  text-align: left;
}

.booking-movie {
  text-align: right;
}

.booking-show {
  text-align: right;
}

.booking-seat {
  text-align: right;
}

.credit_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  justify-content: center;
  padding-bottom: 3rem;
}

.credit-card {
  position: relative;
  background-color: rgb(61, 108, 188);
  border-radius: 6px;
  height: 7rem;
  width: 11rem;
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: movecard 1s ease-in-out infinite;
}

.credit-card:hover,
.credit-card:active {
  box-shadow: rgba(255, 251, 0, 0.01) 0px 54px 55px,
    rgba(255, 251, 0, 0.25) 0px -12px 30px, rgba(255, 251, 0, 0.25) 0px 4px 6px,
    rgba(255, 251, 0, 0.25) 0px 12px 13px, rgba(255, 251, 0, 0.25) 0px -3px 5px;
  animation: movecard 0.6s ease infinite;
}

.credit-title {
  font-size: 0.7rem;
  color: white;
  text-align: right;
  padding-right: 2rem;
  position: relative;
  top: -5px;
}

.card-chip {
  display: flex;
  flex-direction: column;
  height: 1.5rem;
  width: 1.8rem;
  background-color: silver;
  margin-left: 1rem;
}

@keyframes movecard {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0x);
  }
}

.chip-firstline {
  border-bottom: 1px solid grey;
  border-radius: 100px 0 0 0;
  flex-grow: 1;
  position: relative;
}

.chip-firstline-leftdent {
  height: calc(100% + 1px);
  width: 0.4rem;
  position: absolute;
  border-left: 1px solid grey;
  border-radius: 60% 0 0 0;
  flex-grow: 1;
  left: 0.66rem;
}

.chip-firstline_rightdent {
  height: calc(100% + 1px);
  width: 0.4rem;
  position: absolute;
  border-right: 1px solid grey;
  border-radius: 0 60% 0 0;
  flex-grow: 1;
  right: 0.66rem;
}

.chip-secondline {
  border-bottom: 1px solid grey;
  flex-grow: 1;
  position: relative;
}

.chip-secondline_middledent_left {
  position: absolute;
  height: calc(100% + 3px);
  width: 30%;
  border-radius: 40%;
  border-right: 1px solid grey;
  left: 0.22rem;
  top: -2px;
}

.chip-secondline_middledent_right {
  position: absolute;
  height: calc(100% + 3px);
  width: 30%;
  border-radius: 40%;
  border-left: 1px solid grey;
  right: 0.22rem;
  top: -2px;
}

.chip-thirdline {
  border-bottom: 1px solid grey;
  flex-grow: 1;
  position: relative;
}

.chip-thirdline_leftdent {
  height: calc(100% + 1px);
  width: 0.4rem;
  position: absolute;
  border-left: 1px solid grey;
  border-radius: 0 0 0 65%;
  flex-grow: 1;
  left: 0.66rem;
}

.chip-thirdline_rightdent {
  height: calc(100% + 1px);
  width: 0.4rem;
  position: absolute;
  border-right: 1px solid grey;
  border-radius: 0 0 65% 0;
  flex-grow: 1;
  right: 0.66rem;
}

.card-number {
  margin-top: 0.2rem;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 0rem;
}

.card-name {
  color: white;
  font-size: 0.6rem;
  position: absolute;
  margin-left: 0.3rem;
  bottom: 0.2rem;
}

.card-validation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 0.2rem;
  margin-top: 0.2rem;
}

.card-monthyear {
  margin-left: 0.2rem;
  color: white;
  font-size: 0.6rem;
  letter-spacing: 0.01rem;
  line-height: 0.5rem;
}

.card-valid {
  font-size: 0.5rem;
  font-weight: bold;
  flex-wrap: wrap;
}

.card-triangle {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 5px solid black;
  position: relative;
  top: -1px;
}

@media only screen and (max-width: 450px) {
  .backdrop {
    width: 100vw;
  }
  .booking-modal_container {
    min-width: 10px;
    max-width: 300px;
    padding: 1rem;
  }

  .booking-modal_title h1 {
    font-size: 1.2rem;
  }

  .booking-info_container {
    height: fit-content;
    line-height: 1.5rem;
  }

  .booking-info_container p {
    font-size: 0.8rem;
    font-size: 3.5vw;
    height: fit-content;
  }

  .credit_container {
    flex-direction: column;
  }

  .credit-card {
    margin: 0 auto;
  }

  .booking-card {
    margin-bottom: 1rem;
  }

  .booking_username {
    margin: 0 auto;
    text-align: center;
  }

  .booking_username span {
    display: block;
  }

  .booking-movie {
    margin: 0 auto;
    text-align: center;
  }

  .booking-movie span {
    display: block;
  }

  .booking-show {
    margin: 0 auto;
    text-align: center;
  }

  .booking-show span {
    display: block;
  }

  .separator {
    /* margin-top: 2rem; */
  }
}
