/*
Primär Färg:
  #BEBDBF;
Primär Färg - Variation:
  #E1E0E2;
Sekundär Färg:
  #FFFFFF;
Sekundär Färg - Variation:
  #EEEEEE;
Extra Färger: 
  #434244;
  #626163;
*/

/* Start sticky footer fix
*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
/* End sticky footer fix
*/

footer {
  display: flex;
  flex-direction: row;
  padding: 0 1rem 0 1rem;
  width: 100vw;
  background-color: #bebdbf;
  justify-content: center;
}
p {
  color: #eeeeee;
}
