footer {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem 1rem 1rem;
  width: 100vw;
  height: 8vh;
  background-color: #798f96;
  justify-content: center;
}
footer p {
  color: #fffff0;
  font-size: 2.5vh;
}
