header {
  height: 3.5rem;
  width: 100%;
  background-color: #212121;
  z-index: 5;
  /* box-shadow: rgba(194, 194, 194, 0.25) 0px 50px 100px -20px,
    rgba(202, 202, 202, 0.3) 0px 30px 60px -30px,
    rgba(211, 211, 211, 0.35) 0px -2px 6px 0px inset; */
  /* background: radial-gradient(150px 5px at 260px bottom, #666, #222); */

  /* background: red; */
<<<<<<< HEAD
  background-color: #a11e22;
  background-image: linear-gradient(147deg, #a11e22 0%, #6c0b0b 84%);
=======
  background-color: #e50914;
  background-image: linear-gradient(147deg, #e50914 0%, rgb(166, 9, 9) 84%);
>>>>>>> main
  border-bottom: 1px solid #121212;
}

header:hover,
header:active {
  background-color: #bd4f6c;
}

.header-nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 1rem 0 1rem;
}

.hamburger-icon {
  height: 100%;
}

.hamburger-icon:hover,
.hamburger-icon:active {
  cursor: pointer;
}

.home-button {
  text-decoration: none;
  /* color: red; */
  color: white;
  height: 100%;
  padding-top: 0.1em;
  margin-left: 3em;
  font-size: 2rem;
  font-weight: 300;
}

.userpage-button {
  width: 100%;
}

.user-icon {
  display: block;
  position: relative;
  right: 0;
  height: 100%;
  margin-left: auto;
}

.user-icon:hover,
.user-icon:active {
  background-color: #eeeeee;
  cursor: pointer;
}

@media (max-width: 575.98px) {
}
