@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

header {
  height: 3.5rem;
  width: 100%;
  background-color: #212121;
  z-index: 5;
  background-color: #a11e22;
  background-image: linear-gradient(147deg, #a11e22 0%, #6c0b0b 84%);
  border-bottom: 1px solid #121212;
}

header:hover,
header:active {
  background-color: #bd4f6c;
}

.header-nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 1rem 0 1rem;
  width: 100%;
  position: relative;
}

.hamburger-icon {
  height: 100%;
}

.hamburger-icon:hover,
.hamburger-icon:active {
  cursor: pointer;
}

.home-button {
  text-decoration: none;
  color: white;
  height: 100%;
  padding-top: 0.1em;
  margin-left: 3em;
  font-size: 2rem;
  font-weight: 300;
  font-family: 'Train One', cursive;
  letter-spacing: 0.1rem;
}

.userIcon-button {
  width: fit-content;
  text-align: right;
  width: fit-content;
  text-align: right;
  position: absolute;
  right: 0;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  float: right;
}

.user-icon {
  height: 50px;
  width: 50px;
}

.user-icon:hover,
.user-icon:active {
  background-color: #eeeeee;
  cursor: pointer;
}

@media screen and (max-width: 415px) {
  .userIcon-button {
    display: none;
  }
}

@media only screen and (max-width: 374px) {
  .home-button {
    font-size: 1.6rem;
    padding-top: 0.8rem;
  }
}
