.loginPage.inputForm {
  display: grid;
  justify-items: center;
  height: 92vh;
  box-sizing: border-box;
  margin: auto;
  max-width: 60rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #2d2d2d;

  box-shadow: rgba(0, 0, 0, 1) 0px 54px 55px, rgba(0, 0, 0, 1) 0px -12px 30px,
    rgba(0, 0, 0, 1) 0px 4px 6px, rgba(0, 0, 0, 1) 0px 12px 13px,
    rgba(0, 0, 0, 1) 0px -3px 5px;

  box-shadow: rgba(255, 255, 255, 0.2) 0px 4px 5px,
    rgba(0, 0, 0, 1) 0px -12px 30px, rgba(0, 0, 0, 1) 0px 4px 6px,
    rgba(0, 0, 0, 1) 0px 12px 13px, rgba(0, 0, 0, 1) 0px -3px 5px;
}
.loginPage.borderBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #2a2a2a;
  margin: 4rem 0;
  width: 90vw;
  max-width: 25rem;
  height: 30rem;
  box-shadow: #4f4f4f 0px 0px 10px;
  border-radius: 30px;
}
.loginPage.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* max-height: 40vh; */
  min-width: 100px;
  max-width: max-content;
  padding: 10rem;
}

.loginPage.myImage {
  width: 100%;
  max-width: 200px;
  height: auto;
  align-self: center;
  margin-bottom: 2rem;
  border-radius: 100px;
  opacity: 0.8;
}

.loginPage.emailInput {
  width: 45vw;
  min-width: 130px;
  max-width: 220px;
  height: 1.4rem;
  margin: 0.5rem auto;
  border-radius: 4px;
  border: 0;
  background-color: #d4d4d4;
}
input.loginPage.passwordInput {
  width: 45vw;
  min-width: 130px;
  max-width: 220px;
  height: 1.4rem;
  margin: 0.5rem auto;
  border-radius: 4px;
  border: 0;
  background-color: #d4d4d4;
}
.loginPage .emailInput:hover,
input.loginPage.passwordInput:hover {
  background-color: #a4a4a4;
}

button.loginPage.log_in_button {
  width: 45vw;
  min-width: 130px;
  max-width: 220px;
  height: 1.4rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  cursor: pointer;
  background-image: linear-gradient(147deg, #990000 0%, #c20000 84%);
  border: #434244;
  border-radius: 4px;
  color: #eeeeee;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #d4d4d4;
}
button.loginPage.log_in_button:hover {
  background: #d4d4d4;
  color: #c20000;
}

.seperator {
  margin: 1rem 0;
  border: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

button.loginPage.cancel_button {
  width: 14vw;
  min-width: 130px;
  max-width: 220px;
  height: 1.4rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  background-color: #d4d4d4;
  color: #a11e22;
  padding: 1px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
button.loginPage.cancel_button:hover {
  background-color: #a4a4a4;
}

.loginPage.newAccountLink {
  color: #eeeeee;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 200;
}

.loginPage.loginModal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.loginPage.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.loginPage.closeSuccessfulLoginModal,
.loginPage.closeFailedLoginModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position:relative;
  bottom:5px;
  background-color: grey;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: inline;
  width: 2rem;
  height: 2rem;
  padding-bottom:1rem;
  border-radius: 100px;
  outline: none;
  border: none;
}

.loginPage.closeSuccessfulLoginModal:hover,
.loginPage.closeSuccessfulLoginModal:focus,
.loginPage.closeFailedLoginModal:hover,
.loginPage.closeFailedLoginModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}