.loginPage.login_form{
  display:grid;
  justify-items:center; /* Works to Center the Form on the page */
  margin-left:auto;
  margin-right:auto;
}
.loginPage.formContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  text-align:center;
  margin-top:10vh;
}

.loginPage.myImage{
  height:180px;
  width:200px;
  align-self:center;
  margin-left: 10px;
}
.loginPage.emailInput{
  width: 220px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
}
body > main > form > div > input.loginPage.passwordInput{
  width: 220px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
}

body > main > form > div > button.loginPage.log_in_button{
  width: 220px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
  color:white;
  background-color:#F54D4D;
  padding: 1px;
}

body > main > form > div > button.loginPage.cancel_button{
  width: 220px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
  background-color:white;
  color:red;
  padding: 1px;
}
.loginPage.ellerText{
  font-weight:bold;
}

.loginPage.newAccountLink:visited{
  color: blue;
}