.about-container {
  margin: auto;
  max-width: 60rem;
  color: #eeeeee;
  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #2d2d2d;

  box-shadow: rgba(0, 0, 0, 1) 0px 54px 55px, rgba(0, 0, 0, 1) 0px -12px 30px,
    rgba(0, 0, 0, 1) 0px 4px 6px, rgba(0, 0, 0, 1) 0px 12px 13px,
    rgba(0, 0, 0, 1) 0px -3px 5px;

  box-shadow: rgba(255, 255, 255, 0.2) 0px 4px 5px,
    rgba(0, 0, 0, 1) 0px -12px 30px, rgba(0, 0, 0, 1) 0px 4px 6px,
    rgba(0, 0, 0, 1) 0px 12px 13px, rgba(0, 0, 0, 1) 0px -3px 5px;
}

.select {
  padding: 0 3px 0 3px;
  background: #bebdbf;
  border: 1px solid #9f9f9f;
  cursor: pointer;
  border-radius: 4px;
  max-width: 130px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23626163;"/></svg>');
  background-position: right 5px top 50%;
  background-repeat: no-repeat;
  background-size: 0.8rem;
  padding-right: 1rem;
  /* margin-top: 1rem; */
}

.select:focus,
.select:hover {
  outline: none;
  border: 1px solid #626163;
}

.trailer {
  /* grid-area: v; */
  width: 100%;
  height: 100%;
  min-height: 515px;
  /* max-height: ; */
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.about-info_container {
  display: flex;
  flex-direction: column-reverse;
}

.movie-disc {
  text-align: center;
  /* font-style: italic; */
  color: #eeeeee;
  font-size: 1.1rem;
  display: flex;
  padding: 1rem;
  margin: 0 10px 0 10px;
  justify-content: center;
}
.movie-disc p {
  font-weight: 100 !important; /*ta bort denna sen, bara så det lirar nu*/
}

.about-info {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 10px;

  font-size: 1rem;
}

.movie-reviews {
  color: #eeeeee;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  margin: 1rem;
}

.movie-reviews div {
  margin-right: 0.5rem;
}
.movie-reviews :last-child {
  margin-right: 0;
}

.about-info > p:nth-child(odd) {
  color: white;
}
.about-info > p:nth-child(even) {
  color: #a9a9a9;
}

.movie-pictures img {
  display: block;
  width: 165px;
  height: 165px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}

.container:hover img {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}
.container {
  position: relative;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text {
  color: white;
  font-size: 1rem;
  padding: 16px 32px;
}
.movie-pictures {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.tickets_button {
  background-image: linear-gradient(147deg, #990000 0%, #c20000 84%);
  width: 50%;
  max-width: 300px;
  color: white;
  border: none;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1rem 1.4rem;
  cursor: pointer;
}

.movie-story {
  font-size: 1.1rem;
  display: flex;
  padding: 1rem;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 3rem;
}

.movie-story p {
  font-size: 1.3rem;
  margin-top: 3rem;
  max-width: 500px;
  color: #a9a9a9;
  font-weight: 100 !important; /*ta bort denna sen, bara så det lirar nu*/
  flex-grow: 2;
  background: #2d2d2d;
}

.separator {
  margin-bottom: 2rem;
  border: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

.book-show {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 0 0 0 7px;
  padding: 10px;
  font-size: 1.1rem;
  height: 100%;
  color: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}

.aboutPage-text,
.select,
.book-show div,
.book-show a {
  text-decoration: none;
  margin-top: 1rem;
}

.aboutPage-btn {
  font-size: 1rem;
  cursor: pointer;
  width: 70px;
  height: 25px;
  background-image: linear-gradient(147deg, #990000 0%, #c20000 84%);
  border: #434244;
  border-radius: 5px;
  color: #eeeeee;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.aboutPage-btn:hover,
.aboutPage-btn:active {
  background: white;
  color: red;
}

.aboutimg p {
  font-weight: 100;
}

.aboutPage-text {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#select-date {
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 2rem;
}

.trailer iframe {
  min-height: 515px;
  width: 100%;
  border: none;
}

@media screen and (max-width: 600px) {
  .aboutimg {
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .trailer iframe {
    min-height: 250px;
  }
  .trailer {
    min-height: 250px;
  }

  .about-info,
  .movie-story {
    font-size: 0.9rem;
  }
}
