.about-container {
  margin: auto;
  max-width: 60rem;
  max-height: 91vh;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 1fr 2fr 2fr;
  grid-template-areas:
    'v v v'
    'v v v'
    'v v v'
    'a a c'
    'e e e';
  background-color: #e1e0e2;
}

.select {
  padding: 0 3px 0 3px;
  background: #bebdbf;
  border: 1px solid #9f9f9f;
  cursor: pointer;
  border-radius: 4px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23626163;"/></svg>');
  background-position: right 5px top 50%;
  background-repeat: no-repeat;
  background-size: 0.8rem;
  padding-right: 1rem;
}

.select:focus,
.select:hover {
  outline: none;
  border: 1px solid #626163;
}

.trailer {
  grid-area: v;
  width: 100%;
  height: 100%;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: a;
  padding: 2rem;
}

.about-info h3 {
  color: #4e6d75;
}

.about-info > p:nth-child(odd) {
  color: #a9a9a9;
  font-family: 'Merriweather Sans';
  font-size: 90%;
  font-weight: bold;
}
.about-info > p:nth-child(even) {
  color: #5d5d5d;
  padding-bottom: 0.5rem;
}

.movie-story {
  grid-area: e;
  display: flex;
  padding: 1rem;
  align-items: center;
  text-align: left;
  padding: 2rem;
}

.book-show {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0 0 0 7px;
  padding: 2rem;
  grid-area: c;
  height: 100%;
  font-size: 120%;
  line-height: 140%;
}

.aboutPage-btn {
  grid-area: o;

  width: 50px;
  height: 30px;
  background-color: #434244;
  cursor: pointer;
  border: #434244;
  border-radius: 5px;
  color: #eeeeee;
  font-weight: 700;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.about-container p {
  color: #3a4752;
}

.aboutPage-text {
  grid-area: h;
  width: 100%;
  font-size: 120%;
}
.aboutPage-text h3 {
  color: #4e6d75;
}

#select-date {
  align-self: center;
  justify-self: center;
  grid-area: t;
  width: 100%;
  height: 2rem;
}

.trailer iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (max-width: 600px) {
  .about-container {
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .trailer iframe {
    height: 250px;
  }
  .trailer {
    height: 250px;
  }

  .about-info,
  .movie-story {
    font-size: 0.9rem;
  }
}
