@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

.bookingpage-container {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2d2d2d;

  box-shadow: rgba(0, 0, 0, 1) 0px 54px 55px, rgba(0, 0, 0, 1) 0px -12px 30px,
    rgba(0, 0, 0, 1) 0px 4px 6px, rgba(0, 0, 0, 1) 0px 12px 13px,
    rgba(0, 0, 0, 1) 0px -3px 5px;
}

.bookingpage-cover {
  height: 30vh;
  background-image: url("/images/bookingpage_cover.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.bookingpage-show {
  background-color: #424141;

  box-shadow: rgb(32, 32, 32) 0px 5px 5px, rgba(32, 32, 32, 0.8) 0px -2px 3px,
    rgba(32, 32, 32, 0.8) 0px 4px 6px, rgba(32, 32, 32, 0.8) 0px 3px 3px,
    rgba(32, 32, 32, 0.8) 0px -3px 5px;
  padding: 1rem;
  position: relative;
  margin-bottom: 0.9rem;
  border-radius: 3px;
}

.bookingpage-show:after {
  content: "";
  display: table;
  clear: both;
}

.bookingpage-show img {
  float: left;
  margin-right: 1rem;
  width: 165px;
  height: 230px;
  border-radius: 3px;
}

.bookingpage-show button {
  background-color: #e50914d4;
  cursor: pointer;
  border: #434244;
  border-radius: 5px;
  color: #eeeeee;
  font-weight: 700;
  text-decoration: none;
  justify-content: center;
  padding: 5px 8px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.bookingpage-show button:hover,
.bookingpage-show button:active {
  background: white;
  color: red;
}

.bookingpage-show h2 {
  color: #eeeeee;
  line-height: 140%;
}

.bookingpage-show a {
  display: block;
  color: #c6c6c6;
  text-decoration: none;
  line-height: 140%;
}

.bookingpage-show p {
  color: #a9a9a9;
  line-height: 140%;
}

.show-info {
  font-size: 110%;
  color: #c6c6c6;
  font-weight: bold;
  line-height: 150%;
  padding-top: 10px;
  padding-bottom: 4px;
}

.datePickerLabel {
  display: block;
  margin-bottom: 1rem;
  margin-left: 8px;
  padding-right: 30px;
  font-weight: bold;
  color: #c6c6c6;
  font-size: 120%;
}

.datePicker {
  display: inline-block;
  padding: 0 10px;
  margin-left: 30px;
  border-radius: 4px;
  border-color: #e1e0e2;
  background-color: #c6c6c6;
  color: #2d2d2d;
  font-size: 80%;
}

@media screen and (max-width: 600px) {
  .bookingpage-container {
    max-width: 90vw;
    padding: 1rem 1rem;
  }

  .bookingpage-show {
    padding: 0.5rem;
    position: relative;
    margin-bottom: 0.5rem;
    font-size: 80%;
  }
  .datePicker {
    display: inline-block;
    padding: 0 10px;
    margin-left: 0;
    border-radius: 4px;
    border-color: #e1e0e2;
    background-color: #c6c6c6;
    color: #2d2d2d;
    font-size: 80%;
  }
}
@media screen and (max-width: 400px) {
  .bookingpage-container {
    max-width: 90vw;
    padding: 0.5rem 0.5rem;
  }

  .bookingpage-show {
    padding: 0.2rem 0;
    position: relative;
    margin-bottom: 0.2rem;
  }

  .bookingpage-show h2 {
    font-size: 90%;
  }

  .bookingpage-show p {
    font-size: 80%;
  }

  .bookingpage-show img {
    float: none;
    justify-self: center;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    margin-right: 0.5rem;
  }

  .bookingpage-show .show-info {
    font-size: 80%;
  }

  .datePickerLabel {
    display: block;
    margin-bottom: 0.5rem;
    margin-left: 0;
    padding-right: 0;
    font-weight: bold;
    color: #c6c6c6;
  }

  .datePicker {
    display: inline-block;
    padding: 0 4px;
    margin: 0.5rem 0;
    border-color: #e1e0e2;
    background-color: #c6c6c6;
    color: #2d2d2d;
    font-size: 80%;
  }

  .bookingpage-show button {
    font-size: 80%;
    text-decoration: none;
    justify-content: center;
    padding: 2px 3px;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}
