.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 60rem;
  background-color: #2d2d2d;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 4px 5px,
    rgba(0, 0, 0, 1) 0px -12px 30px, rgba(0, 0, 0, 1) 0px 4px 6px,
    rgba(0, 0, 0, 1) 0px 12px 13px, rgba(0, 0, 0, 1) 0px -3px 5px;
}
.movie-container .headline {
  width: 60rem;
  height: 15rem;
  background-image: url('/images/film-banner1.jpg');
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 -10px 6px -6px #2d2d2d inset;
}

.movie-container h1 {
  align-self: center;
  margin-top: 1rem;
  color: #a11e22;
}

.movie-container .movie-text > p:nth-child(odd) {
  color: #8d8d8d;
}
.movie-container .movie-text > p:nth-child(even) {
  color: #a9a9a9;
  font-weight: 300;
}
.movie-container .movie-filter {
  align-self: center;
  margin: 2rem 0 3rem 0;
}
.movie-container select {
  background: #a9a9a9;
  border: 1px solid #9f9f9f;
  cursor: pointer;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23626163;"/></svg>');
  background-position: right 5px top 50%;
  background-repeat: no-repeat;
  background-size: 0.8rem;
  padding: 0.3rem;
  width: 8rem;
}
.movie-container select:hover select:focus {
  outline: none;
  background-color: #9f9f9f;
  border: 1px solid #2d2d2d;
}

.movie-container .movie-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
}

.movie-container .movie-poster {
  margin: auto;
}
.movie-container .movie-poster img {
  width: 100%;
  width: 165px;
  height: 230px;
  object-fit: cover;
  padding-left: 0.2rem;
  border-radius: 0.2rem;
  margin-left: 1rem;
}
.movie-container .movie-text {
  flex: 1 1;
  min-width: 31ch;
  margin: 0 1.5rem;
  font-size: 1rem;
  font-weight: 100;
}
.movie-container .title-name {
  color: #a11e22;
  margin-bottom: 0.5rem;
}

.movie-container .seperator {
  margin-bottom: 1.5rem;
  border: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

@media only screen and (max-width: 500px) {
  .movie-container .movie-text h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}
