.movie-container {
  display: flex;
  flex-direction: column;
  background-color: #e1e0e2;
  padding: 5rem 0;
  font-size: calc(0.55em + 1vmin);
}
.movie-container .movie-info {
  display: flex;
  flex-direction: row;
  background-color: #e1e0e2;
  margin: 1em;
  border-bottom: 0.2em solid black;
  max-width: 850px;
}
.movie-container .movie-poster {
  width: 150px;
  margin: auto;
  padding-bottom: 1em;
}
.movie-container .movie-poster img {
  width: 100%;
  width: 150px;
  height: 230px;
  object-fit: cover;
  border-radius: 0.2em;
}
.movie-container .movie-text {
  margin-left: 2em;
  margin-bottom: 1em;
}
.movie-container .title-name {
  margin-bottom: 0.5em;
}
.movie-container h4 {
  margin: 0.2em 0;
}
.movie-container p {
  color: black;
}
.movie-container .genre h4,
.movie-container .genre p {
  display: inline-block;
}
.movie-container .runtime h4,
.movie-container .runtime p {
  display: inline-block;
}
/*
Primär Färg:
  #BEBDBF;

Primär Färg - Variation:
  #E1E0E2;

Sekundär Färg:
  #FFFFFF;

Sekundär Färg - Variation:
  #EEEEEE;

Extra Färger: 
  #434244;
  #626163;
*/
