.registerPage.formContainer{
  margin: 28vh 0vw 0vh 2em;
}

@media screen and (max-width: 280px){
  .registerPage.formContainer{
    position:absolute;
    left:25%;
  }
}

.registerPage.registerTitle{
  text-align:center;
  display:block;
  font-size:1.25em;
}

.registerPage.emailInput, .registerPage.passwordInput, .registerPage.secondPasswordInput{
  margin:5px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  text-indent:2px;
  margin-top: 12px;
  margin-bottom:12px;
}


.registerPage.register_button{
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding:3px;
  padding-right:40px;
  padding-left: 40px;
  color:white;
  background-color:#F54D4D;
  border: solid 1px black;
}

.registerPage.register_button:focus, .registerPage.cancel_button:focus{
  outline:none;
}
.registerPage.emailTitle, .registerPage.passwordTitle, .registerPage.confirmPasswordTitle{
  text-align:center;
  margin:2px;
}

.registerPage.ellerText{
  text-align:center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight:bold;
}

.registerPage.cancel_button{
  display:block;
  width:168px;
  text-align:center;
  background-color:white;
  color: #F54D4D;
  border: solid 1px black;
  margin-left:auto;
  margin-right:auto;
  margin-top:2px;
  padding:2px;
}