.saloon-container {
  display: flex;
  flex-direction: column;
}

.row {
  margin: 5px;
  display: flex;
  align-self: center;
}

.seats {
  display: flex;
}

label {
  background-color: silver;
  border: 2px outset white;
  border-radius: 25% 25% 0 0;
  color: black;
  padding: 5px;
  text-align: center;
}

input[type='checkbox'] {
  z-index: 2;
  opacity: 0;
  width: 30px;
  height: 25px;
}

input[type='checkbox'] + label {
  margin-left: -30px;
  z-index: 1;
}
input[type='checkbox']:checked + label {
  background-color: black;
  color: white;
}
input[type='checkbox']:disabled + label {
  background-color: darkgray;
  color: darkgray;
  border-color: transparent;
}
