.saloon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saloon-container .row {
  margin: 5px;
  display: flex;
  align-self: center;
}

.saloon-container .seats {
  display: flex;
}

.saloon-container label {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 25% 25% 0 0;
  color: black;
  padding: 5px;
  text-align: center;
  width: 25px;
  height: 35px;
}

.saloon-container input[type='checkbox'] {
  z-index: 2;
  opacity: 0;
  width: 30px;
  height: 25px;
}

.saloon-container input[type='checkbox'] + label {
  margin-left: -30px;
  z-index: 1;
}
.saloon-container input[type='checkbox']:checked + label {
  background-color: black;
  color: white;
}
.saloon-container input[type='checkbox']:disabled + label {
  background: darkgray;
  color: darkgray;
  border-color: transparent;
}
.saloon-container .btn {
  width: 10rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-image: linear-gradient(147deg, #990000 0%, #c20000 84%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
