@import '../components/videoSlider.css';

.big-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
  justify-content: center;
}

.big-container {
  overflow: hidden;
  position: relative;
}

.h1-aktuellt {
  text-align: center;
  font-size: 5rem;
  padding-bottom: 2rem;
  margin-bottom: 10rem;
  border-bottom: 15px solid black;
}

.startpage-infobar {
  margin: 0 auto;
  text-align: center;
  border: 3px solid whitesmoke;
  width: 40rem;
  background: black;
  color: white;
  position: absolute;
  z-index: 3;
  left: 33%;
  top: 6%;
}

.startpage-infobar:hover, .startpage-infobar:active {
  border: 3px solid black;
  background: white;
  color: black;
}

.startpage-infobar p {
  color: inherit;
  font-size: 2rem;
  padding: 2rem;
  line-height: 3rem;
}

.sidebar-container {
  z-index: 100;
}

.video-container {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10rem;
  margin-top: 10rem;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.video-container h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 10px solid black;
}

.startpage-coverphoto {
  width: 100vw;
  height: 40rem;
  background-image: url('/images/cover_startpage.jpg');
  background-position: bottom;
  filter: blur(5px);
  animation: movecover 40s infinite;
}

@keyframes movecover {
  0% {
    background-position-x: left;
  }
  100% {
    background-position-x: right;
  }
  0% {
    background-position-x: left;
  }
}

.startpage-skew {
  margin: 0;
  padding: 0;
  height: 15em;
  width: 100%;
  position: relative;
  top: -5em;
  border-top: 1px solid rgb(122, 122, 122);
  transform: skewY(2deg);
  background: #bebdbf;
}

.poster-container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  border-bottom: 10px solid black;
  border-top: 10px solid black;
}

.start-poster {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
}

.start-poster:hover,
.start-poster:active {
  transform: scale(1.2);
}

.start-poster img {
  width: 200px;
  height: 300px;
}

.bestof-container {
  border-bottom: 15px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  padding: 2rem;
}

.toplist-listitem {
  list-style-type: none;
  position: relative;
  margin-right: 2rem;
}

.toplist-listitem:last-of-type {
  margin-right: 0;
}

.toplist-listitem a {
  text-decoration: none;
  color: black;
}

.bestof-span {
  background-color: white;
  position: absolute;
  left: 3.5em;
  font-size: 3em;
}

.bestof-img {
  width: 200px; 
  height: 300px;
  transition: transform 0.2s;
}

.bestof-img:hover, .bestof-img:active {
  transform: scale(1.2);
}

.slideshow-container{
  margin-top: 10rem;
  text-align: center;
  transition: transform 2s;
  margin-bottom: 10rem;
}

.slideshow-slide {
  display: none;
  position: relative;
  opacity: 1;
  animation: changeopacity 0.4s;
}

@keyframes changeopacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.slideshow-slide img {
  height: 600px;
}

.slideshow-slide img:hover, .slideshow-slide img:active {
  transform: scale(1.2)
}

.slide-aside {
  position:absolute;
  text-align: center;
  margin-left: 2rem;
  margin-top: 5rem;
  padding-top: 3em;
  height: 400px;
  width: 500px;
  border-radius: 10px;
  display: inline-block;
  background-color: beige;
}

.slide-aside h3 {
  font-size: 3rem;
  margin-top: 1rem;
  color: black;
}

.slide-aside p {
  font-size: 3rem;
  color: black;
}

.slide-aside p:last-of-type {
  margin-top: 3rem;
  font-size: 2rem;
}
