@import "../components/videoSlider.css";

.big-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  background-color: #96acb3;
}

.h2-aktuellt {
  display: block;
  position: relative;
  text-align: center;
  color: #4e6d75;
  line-height: 140%;
  font-size: 200%;
  margin-top: -27vh;
  padding-bottom: 2rem;
}

.startpage-infobar {
  display: flex;
  margin: 0 auto;
  border: 3px solid #fffff0;
  width: 40%;
  min-width: 260px;
  background: black;
  color: #fffff0;
  position: absolute;
  z-index: 3;
  top: 3%;
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.startpage-infobar:hover,
.startpage-infobar:active {
  border: 3px solid black;
  background: #fffff0;
  color: black;
}

.startpage-infobar p {
  color: #fffff0;
  font-size: 120%;
  text-align: center;
  padding: 3vh;
  line-height: 140%;
}

.sidebar-container {
  z-index: 100;
}

.video-container {
  width: 100%;
  width: 60vw;
  margin: 2rem auto 1rem auto;
}

.video-container h3 {
  text-align: center;
  color: #4e6d75;
  line-height: 140%;
  margin-bottom: 1rem;
}

.startpage-coverphoto {
  height: 70vh;
  width: 100%;
  background-image: url("/images/cover_startpage.jpg");
  background-position: bottom;
  filter: blur(5px);
  animation: movecover 40s infinite;
}

@keyframes movecover {
  0% {
    background-position-x: left;
  }
  100% {
    background-position-x: right;
  }
  0% {
    background-position-x: left;
  }
}

.startpage-skew {
  margin: 0;
  padding: 0;
  height: 20vh;
  width: 100%;
  position: relative;
  top: -4em;
  border-top: 1px solid #666666;
  transform: skewY(2deg);
  background: #bebdbf;
}

.ourmovies-title {
  text-align: center;
  color: #4e6d75;
  line-height: 140%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.poster-container {
  padding: 1.2rem 0 1rem 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #bebdbf;
  border: 3px solid #4e6d75;
  border-radius: 3px;
  margin: 0 2rem;
  overflow: auto;
}

.start-poster {
  height: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
  padding: 0 1rem;
}

.start-poster:hover,
.start-poster:active {
  transform: scale(1.2);
  opacity: 0.7;
}

.start-poster img {
  width: 200px;
  height: 300px;
}

.bestmovies-title {
  text-align: center;
  color: #4e6d75;
  line-height: 140%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.bestof-container {
  background-color: #bebdbf;
  border: 3px solid #4e6d75;
  border-radius: 3px;
  padding: 1.2rem 0 1rem 0;
  margin: 0 2rem;
}

.bestof-container ul {
  display: flex;
  justify-content: center;
}

.toplist-listitem {
  list-style-type: none;
  position: relative;
  padding: 0 1rem;
  flex: 0 0 auto;
}

/*
.toplist-listitem:last-of-type {
  margin-right: 0;
}
*/

.toplist-listitem a {
  text-decoration: none;
  color: #4e6d75;
}

.bestof-span {
  background-color: #fffff0;
  position: absolute;
  font-size: 120%;
  padding: 0.5rem;
  border-radius: 3px;
  margin: 0.5rem;
}

.bestof-img {
  width: 200px;
  height: 300px;
  transition: transform 0.2s;
}

.bestof-img:hover,
.bestof-img:active {
  transform: scale(1.2);
}

.slideshow-container {
  text-align: center;
  transition: transform 2s;
  flex-direction: row;
}

.slideshow-slide {
  display: none;
  position: relative;
  opacity: 1;
  animation: changeopacity 0.4s;
  display: flex;
  flex-direction: row;
  width: 100%;
}

@keyframes changeopacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slideshow-slide a {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
}

.slideshow-slide img {
  height: 80vh;
  transition: transform 0.2s, border 0.2s;
  padding: 1rem;
  border-radius: 3px;
}

.slideshow-slide img:hover,
.slideshow-slide img:active {
  opacity: 0.5;
}

.slide-aside {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-left: 2rem;
  margin-top: 5rem;
  padding: 1rem 1rem;
  height: fit-content;
  width: 400px;
  border-radius: 3px;
  background-color: #e1e0e2;
  color: #3a4752;
}

.slide-aside h2 {
  margin-top: 2rem;
}
.slide-aside h3 {
  color: #4e6d75;
  font-size: 90%;
  line-height: 140%;
}

.slide-aside p {
  margin-top: 1rem;
  color: #3a4752;
}

.slide-aside p:last-of-type {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1448px) {
  .poster-container {
    border: 6px solid #4e6d75;
    justify-content: start;
  }

  .bestof-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: auto;
    border: 6px solid #4e6d75;
  }
}

@media only screen and (max-width: 1199.98px) {
  .slide-aside {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1025px) {
  .slide-aside p:last-of-type {
    display: none;
  }

  .slide-aside {
    height: fit-content;
    padding-bottom: 2.5rem;
  }

  .slide-aside h3 {
    font-size: inherit;
  }
}

@media only screen and (min-width: 576px) {
  .startpage-infobar {
    max-width: 40vw;
  }
}
@media only screen and (max-width: 575.98px) {
  .userpage-button {
    display: none;
  }

  .home-button {
    width: 100%;
    text-align: center;
    margin-left: 0em;
  }

  .startpage-infobar {
    position: absolute;
  }

  .slide-aside {
    margin-top: 2rem;
  }

  .slide-aside h3 {
    font-size: 1.5rem;
  }

  .slide-aside p:first-of-type {
    font-size: 10vw;
  }

  .ourmovies-title {
    font-size: 2.5rem;
  }

  .bestmovies-title {
    font-size: 2.5rem;
    margin-top: 10rem;
  }

  .video-container h3 {
    font-size: 2.5rem;
  }

  .video-slider {
    height: 250px;
  }

  .slide {
    height: 250px;
  }

  .video-container iframe {
    height: 250px;
  }
}
