@import '../components/videoSlider.css';

.big-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 960px; */
  background-color: #0e0f0f;
  margin: 0 auto;
}

.h1-aktuellt {
  text-align: center;
  font-size: 5rem;
  padding-bottom: 2rem;
  margin-bottom: 10rem;
  border-bottom: 15px solid black;
}

.startpage-infobar {
  display: flex;
  margin: 0 auto;
  border: 3px solid whitesmoke;
  width: 40%;
  min-width: 260px;
  background: black;
  color: white;
  position: absolute;
  z-index: 3;
  top: 6%;
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.startpage-infobar:hover,
.startpage-infobar:active {
  border: 3px solid black;
  background: white;
  color: black;
}

.startpage-infobar p {
  color: inherit;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  line-height: 3rem;
}

.sidebar-container {
  z-index: 100;
}

.video-container {
  width: 100%;
  max-width: 718px;
  margin: 10rem auto;
  padding: 2rem;
  padding-top: 1rem;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.video-container h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 10px solid black;
}

.startpage-coverphoto {
  width: 100%;
  height: 40rem;
  background-image: url('/images/cover_startpage.jpg');
  background-position: bottom;
  filter: blur(5px);
  animation: movecover 40s infinite;
}

@keyframes movecover {
  0% {
    background-position-x: left;
  }
  100% {
    background-position-x: right;
  }
  0% {
    background-position-x: left;
  }
}

.startpage-skew {
  margin: 0;
  padding: 0;
  height: 15em;
  width: 100%;
  position: relative;
  top: -5em;
  border-top: 1px solid rgb(122, 122, 122);
  transform: skewY(2deg);
  background: #0e0f0f;
}

.ourmovies-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.poster-container {
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  margin: 2rem;
  height: 500px;
  background-color: #2a2828f2;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.start-poster {
  position: relative;
  height: fit-content;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
  /* padding: 0 ; */
  margin: 0 0.5rem;
  flex: 0 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.start-poster--backdrop {
  background-color: black;
  width: 260px;
  height: 400px;
  position: absolute;
  top: -00px;
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  font-size: 2rem;
}

.start-poster--backdrop:hover,
.start-poster--backdrop:active {
  opacity: 0.8;
}

.start-poster:hover,
.start-poster:active {
  /* transform: scale(1.1); */
  /* opacity: 0.7; */
}

.start-poster img {
  width: 260px;
  height: 400px;
}

.bestmovies-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 15rem;
  margin-bottom: 2rem;
  color: white;
}

.bestof-container {
  border-top: 3px solid black;
  border-bottom: 3x solid black;
  padding: 2rem;
  margin: 2rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #2a2828f2;
}

.bestof-container ul {
  display: flex;
  justify-content: center;
}

.toplist-listitem {
  list-style-type: none;
  position: relative;
  margin-right: 2rem;
  flex: 0 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.toplist-listitem:last-of-type {
  margin-right: 0;
}

.toplist-listitem a {
  text-decoration: none;
  color: black;
}

.bestof-span {
  background-color: white;
  position: absolute;
  left: 3.5em;
  font-size: 3em;
}

.bestof-img {
  width: 260px;
  height: 400px;
  transition: transform 0.2s;
}

.bestof-img:hover,
.bestof-img:active {
  transform: scale(1.2);
}

.slideshow-container {
  margin: 5rem 3em 0rem 3em;
  text-align: center;
  transition: transform 2s;
  flex-direction: row;
}

.slideshow-slide {
  display: none;
  position: relative;
  opacity: 1;
  animation: changeopacity 0.4s;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20rem;

  position: relative;
  /* top: 50%; */
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(#000, 0.5);
  width: fit-content;
  /* max-width: 600px; */
  padding: 5px;
  border: 2px solid #b78846;
}

@keyframes changeopacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slideshow-slide a {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
}

.slider {
  margin: 0 auto;
  width: 80%;
}

.slideshow-image {
  height: 600px;
  transition: transform 0.2s, border 0.2s;
  /* padding: 2rem; */
}

.slideshow-image:hover,
.slideshow-image:active {
  opacity: 0.5;
}

.slide-aside {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  /* margin-left: 2rem; */
  /* margin-top: 5rem; */
  padding: 2rem 1rem 3rem 1rem;
  height: 100%;
  width: 500px;
  /* border-radius: 10px; */
  background-color: #0e0f0f;
  font-size: 3rem;
  position: relative;
  overflow: hidden;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.smoke {
  height: 500px;
  width: 500px;
  position: absolute;
  right: 100px;
  top: 300px;
}

.slide-aside h3 {
  font-size: inherit;
  margin-top: 1rem;
  color: white;
}

.slide-aside p {
  font-size: 3rem;
  color: white;
}

.slide-aside p:last-of-type {
  margin-top: 3rem;
  font-size: calc(1.5rem + 0.5vw);
}

.embezzle {
  position: absolute;
  top: -270px;
  right: -50px;
  width: 1000px;
  height: 250px;
  object-fit: cover;
  object-position: 100% 0%;
  overflow: hidden;
}

@media only screen and (max-width: 1448px) {
  .poster-container {
    border: 10px solid black;
    justify-content: start;
  }

  .bestof-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* overflow: auto; */
    border: 10px solid black;
  }
}

@media only screen and (max-width: 1199.98px) {
  .slide-aside {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1025px) {
  .slide-aside p:last-of-type {
    display: none;
  }

  .slide-aside {
    height: fit-content;
    padding-bottom: 2.5rem;
  }

  .slide-aside h3 {
    font-size: inherit;
  }
}

@media only screen and (max-width: 575.98px) {
  .userpage-button {
    display: none;
  }

  .home-button {
    width: 100%;
    text-align: center;
    margin-left: 0em;
  }

  .startpage-infobar {
    position: absolute;
  }

  .h1-aktuellt {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .slide-aside {
    margin-top: 2rem;
  }

  .slide-aside h3 {
    font-size: 1.5rem;
  }

  .slide-aside p:first-of-type {
    font-size: 10vw;
  }

  .ourmovies-title {
    font-size: 2.5rem;
  }

  .bestmovies-title {
    font-size: 2.5rem;
    margin-top: 10rem;
  }

  .video-container h3 {
    font-size: 2.5rem;
  }

  .video-slider {
    height: 250px;
  }

  .slide {
    height: 250px;
  }

  .video-container iframe {
    height: 250px;
  }
}
