@import '../components/videoSlider.css';

.big-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.h1-aktuellt {
  text-align: center;
  font-size: 5rem;
  padding-bottom: 2rem;
  margin-bottom: 10rem;
  border-bottom: 15px solid black;
}

.startpage-infobar {
  display: flex;
  margin: 0 auto;
  border: 3px solid whitesmoke;
  width: 40%;
  min-width: 260px;
  background: black;
  color: white;
  position: absolute;
  z-index: 3;
  top: 6%;
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.startpage-infobar:hover, .startpage-infobar:active {
  border: 3px solid black;
  background: white;
  color: black;
}

.startpage-infobar p {
  color: inherit;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  line-height: 3rem;
}

.sidebar-container {
  z-index: 100;
}

.video-container {
  width: 100%;
  max-width: 718px;
  margin: 10rem auto;
  padding: 2rem;
  padding-top: 1rem;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.video-container h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 10px solid black;
}

.startpage-coverphoto {
  width: 100%;
  height: 40rem;
  background-image: url('/images/cover_startpage.jpg');
  background-position: bottom;
  filter: blur(5px);
  animation: movecover 40s infinite;
}

@keyframes movecover {
  0% {
    background-position-x: left;
  }
  100% {
    background-position-x: right;
  }
  0% {
    background-position-x: left;
  }
}

.startpage-skew {
  margin: 0;
  padding: 0;
  height: 15em;
  width: 100%;
  position: relative;
  top: -5em;
  border-top: 1px solid rgb(122, 122, 122);
  transform: skewY(2deg);
  background: #bebdbf;
}


.ourmovies-title {
  font-size: 3rem; 
  text-align: center; 
  margin-bottom: 2rem;
}

.poster-container {
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; 
  border-bottom: 10px solid black;
  border-top: 10px solid black;
  margin: 2rem;
  overflow: auto;
}


.start-poster {
  height: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
  padding: 0 1rem;
  flex: 0 0 auto;
}

.start-poster:hover,
.start-poster:active {
  transform: scale(1.2);
   opacity: 0.7;
}

.start-poster img {
  width: 200px;
  height: 300px;
}

.bestmovies-title {
  text-align: center; 
  font-size: 3rem; 
  margin-top: 15rem;
  margin-bottom: 2rem;
}

.bestof-container {
  border-bottom: 15px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  padding: 2rem;
  margin: 2rem;
}

.bestof-container ul {
   display: flex; 
   justify-content: center;
}

.toplist-listitem {
  list-style-type: none;
  position: relative;
  margin-right: 2rem;
   flex: 0 0 auto;
}

.toplist-listitem:last-of-type {
  margin-right: 0;
}

.toplist-listitem a {
  text-decoration: none;
  color: black;
}

.bestof-span {
  background-color: white;
  position: absolute;
  left: 3.5em;
  font-size: 3em;
}

.bestof-img {
  width: 200px; 
  height: 300px;
  transition: transform 0.2s;
}

.bestof-img:hover, .bestof-img:active {
  transform: scale(1.2);
}

.slideshow-container{
  margin: 10rem 3em;
  text-align: center;
  transition: transform 2s;
  flex-direction: row;
}

.slideshow-slide {
  display: none;
  position: relative;
  opacity: 1;
  animation: changeopacity 0.4s;
  display: flex;
  flex-direction: row;
  width: 100%; 
}

@keyframes changeopacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slideshow-slide a {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
}


.slideshow-slide img {
  height: 600px;
  transition: transform 0.2s, border 0.2s;
  padding: 2rem;
}

.slideshow-slide img:hover, .slideshow-slide img:active {
  opacity: 0.5;
}

.slide-aside {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-left: 2rem;
  margin-top: 5rem;
  padding: 2rem 1rem 3rem 1rem;
  height: fit-content;
  width: 500px;
  border-radius: 10px;
  background-color: beige;
  font-size: 3rem;
}

.slide-aside h3 {
  font-size: inherit;
  margin-top: 1rem;
  color: black;
}

.slide-aside p {
  font-size: 3rem;
  color: black;
}

.slide-aside p:last-of-type {
  margin-top: 3rem;
  font-size: calc(1.5rem + 0.5vw);
}

 @media only screen and (max-width: 1448px) {
  .poster-container {
    border: 10px solid black;
    justify-content: start;
  }

  .bestof-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: auto;
    border: 10px solid black;
  }
}

@media only screen and  (max-width: 1199.98px) { 
  .slide-aside {
    margin-left: 0;
  } 
 }

@media only screen and (max-width: 1025px) {
  .slide-aside p:last-of-type {
    display: none;
  }

  .slide-aside {
    height: fit-content;
    padding-bottom: 2.5rem;
  }

  .slide-aside h3 {
    font-size: inherit;
  }
}


@media only screen and (max-width: 575.98px) { 
  .userpage-button {
    display: none;
  }

  .home-button {
    width: 100%;
    text-align: center;
    margin-left: 0em;
  }

  .startpage-infobar {
    position: absolute;
  }

  .h1-aktuellt {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .slide-aside {
    margin-top: 2rem;
  }

  .slide-aside h3 {
    font-size: 1.5rem;
  }

  .slide-aside p:first-of-type {
    font-size: 10vw;
  }

  .ourmovies-title {
    font-size: 2.5rem;
  }

  .bestmovies-title {
    font-size: 2.5rem;
    margin-top: 10rem;
  }

  .video-container h3 {
    font-size: 2.5rem;
  }

  .video-slider {
    height: 250px;
  }

  .slide {
    height: 250px;
  }

  .video-container iframe {
    height: 250px;
  }
 }





