.ticketpage-container {
  display: flex;
  flex-direction: row;
  background: url('/images/screen1.jpg') no-repeat center fixed;
  background-size: cover;
  background-attachment: scroll;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 4.5rem;
}

.ticketpage-container .ticketpage-content {
  display: flex;
  flex-direction: row;
}

.ticketpage-container .booking-info {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-self: stretch;
  margin-left: 1rem;
  min-width: 300px;
  padding-top: 2rem;
}
.ticketpage-container .ticket-price {
  background: #f2f2f2;
  border: 1px solid #9f9f9f;
  cursor: pointer;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23626163;"/></svg>');
  background-position: right 5px top 50%;
  background-repeat: no-repeat;
  background-size: 0.8rem;
  padding: 0.1rem;
  width: 5rem;
}
.ticketpage-container .ticket-price:hover,
:focus {
  outline: none;
  background-color: #c3c3c3;
  border: 1px solid #2d2d2d;
}

.ticketpage-container .info-summation {
  align-self: flex-end;
  max-height: 170px;
  padding-right: 0.3rem;
  overflow-y: scroll;
}

.ticketpage-container .info-summation .seperator {
  margin: 1rem 0;
  border: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.ticketpage-container .ticket-item {
  text-align: right;
  width: 100%;
  flex-grow: 5;
  overflow-x: hidden;
  min-width: 320px;
  max-height: 169px;
  padding-right: 0.3rem;
  overflow-y: scroll;
}

.ticketpage-container .ticket-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.ticketpage-container .ticket-box p {
  flex-grow: 2;
  text-align: center;
  margin-right: 1rem;
}

.ticketpage-container .booking-info_container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-bottom: 2.5rem;
}

.ticketpage-container .info-buttons {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
  align-self: flex-end;
  justify-self: flex-start;
}

.ticketpage-container .info-buttons .ticket-booking {
  width: fit-content;
  padding: 0.5rem;
  margin-left: 3rem;
  margin-top: 1rem;
  background-image: linear-gradient(147deg, #990000 0%, #c20000 84%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ticketpage-container .info-buttons .ticket-booking:disabled {
  width: fit-content;
  padding: 0.5rem;
  margin-left: 3rem;
  margin-top: 1rem;
  background-image: linear-gradient(147deg, #2d2d2d 0%, #6d6d6d 84%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
