.ticketpage-container {
  display: flex;
  flex-direction: row;
  background-color: #8d8989;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 4px 5px,
    rgba(0, 0, 0, 1) 0px -12px 30px, rgba(0, 0, 0, 1) 0px 4px 6px,
    rgba(0, 0, 0, 1) 0px 12px 13px, rgba(0, 0, 0, 1) 0px -3px 5px;
  min-height: 90vh;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.ticketpage-container .booking-info {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
}

.ticketpage-content {
  width: 100%;
}

.ticketpage-container .booking-info-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.ticketpage-container .ticket-item {
  width: fit-content;
}

.ticket-booking:disabled {
  display: none;
}
.ticketpage-container .info-buttons .ticket-booking {
  width: fit-content;
  padding: 0.5rem;
  background-image: linear-gradient(147deg, #990000 0%, #c20000 84%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ticketpage-container .info-buttons .ticket-booking:disabled {
  width: fit-content;
  padding: 0.5rem;
  background-image: linear-gradient(147deg, #2d2d2d 0%, #6d6d6d 84%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ticketpage-container .ticket-item {
  overflow-x: hidden;
  max-height: 169px;
  overflow-y: auto;
  margin-bottom: 3px;
}

.ticketpage-container .booking-info_container {
  overflow-y: auto;
  max-height: 169px;
}

.ticketpage-container .info-summation .seperator {
  margin: 1rem 0;
  border: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

@media only screen and (max-width: 616px) {
  .Savannen {
    zoom: 0.6;
    -moz-transform: scale(0.6);
  }
  .ticketpage-container .booking-info {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
  .ticket-item {
    margin-bottom: 2rem;
  }
}
