.ticketpage-container {
  display: flex;
  flex-direction: row;
  /* margin: 2rem; */
  height: 91vh;
  justify-content: center;
  align-items: center;
}

.ticketpage-content {
  display: flex;
  flex-direction: row;
}

.booking-info {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-self: stretch;
  margin-left: 1rem;
  min-width: 300px;
}

.info-summation {
  align-self: flex-end;
  /* margin-left: 1rem; */
}

.ticket-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.ticket-box p {
  flex-grow: 2;
  text-align: center;
  margin-right: 2rem;
}

.ticket-item {
  text-align: right;
  width: 100%;
  flex-grow: 5;
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 320px;
  max-height: 169px;
}

.booking-info_container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.info-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 2;
  align-items: flex-end;
}

.info-buttons button {
  width: fit-content;
  padding: 0.5rem;
  margin-left: 3rem;
  margin-top: 1rem;
}

.saloon-container {
  border-right: 3px solid black;
  padding-right: 2rem;
  padding: 0rem 2rem 2rem 0;
}

.ticketPage.takenSeatModal {
  position: fixed; 
  z-index: 3; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.ticketPage.modal-content {
  font-family: 'Montserrat', sans-serif;
  border: 2px solid black;
  background-color: grey;
  text-align:center;
  margin: 15% auto; 
  padding: 20px;
  min-width: max-content;
  max-width: 40%;
  border-radius:15px;
}

.ticketPage.closeTakenSeatModal {
  color: black;
  float: right;
  font-size: 26px;
  font-weight:lighter;
  position:relative;
  bottom:5px;
  background-color: grey;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: inline;
  width: 2rem;
  height: 2rem;
  padding-bottom:1rem;
  border-radius: 100px;
  outline: none;
  border: none;
}

.ticketPage.closeTakenSeatModal:hover,
.ticketPage.closeTakenSeatModal:focus {
  background-color: silver;
  text-decoration: none;
  cursor: pointer;
}