.userpage-container {
  min-height: 90vh;
  width: 90vw;
  margin: 0 auto;
  max-width: 50rem;
  background-color: #2d2d2d;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 4px 5px,
    rgba(0, 0, 0, 1) 0px -12px 30px, rgba(0, 0, 0, 1) 0px 4px 6px,
    rgba(0, 0, 0, 1) 0px 12px 13px, rgba(0, 0, 0, 1) 0px -3px 5px;
  color: #a9a9a9;
}

.userpage-title {
  display: flex;
  text-align: left;
  padding-top: 3rem;
  border-bottom: 4px solid black;
}

.userpage-title h1 {
  margin-left: 1rem;
}

.userpage-title p {
  color: white;

  align-self: center;
  text-align: right;
  margin-right: 1rem;
  font-size: 1.5rem;
  flex-grow: 2;
}

.userpage-booking {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin: 1rem auto;
  background-color: #363636;

  box-shadow: rgb(32, 32, 32) 0px 5px 5px, rgba(32, 32, 32, 0.8) 0px -2px 3px,
    rgba(32, 32, 32, 0.8) 0px 4px 6px, rgba(32, 32, 32, 0.8) 0px 3px 3px,
    rgba(32, 32, 32, 0.8) 0px -3px 5px;
}

.userpage-booking:hover,
.userpage-booking:active {
  background-color: #707070;

  cursor: initial;
  opacity: 0.8;
}

.booking-top {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  font-size: 1rem;
}

.booking-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 2;
  margin-right: 1rem;
}

.booking-button p {
  color: #f3dcdc;

  align-self: center;
  margin-right: 1rem;
}

.booking-button button {
  width: 2rem;
}

.booking-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.booking-bottom h3 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.booking-bottom p {
  color: #a9a9a9;
}

.booking-bottom p:last-of-type {
  text-align: right;
  margin-right: 1rem;
  flex-grow: 2;
}

@media only screen and (max-width: 540px) {
  .userpage-container,
  .booking-bottom h3 {
    font-size: 0.7rem;
  }

  .userpage-title p {
    font-size: 1rem;
  }
  .booking-bottom p,
  .movieDate-container {
    font-size: 0.6rem;
  }

  .userpage-container .booking-button {
    zoom: 0.8;
    -moz-transform: scale(0.8);
  }
}
