.userpage-container {
<<<<<<< Updated upstream
  background: #e1e0e2;
  height: 100%;
=======
  background: #E1E0E2;
  height: 100vh;
>>>>>>> Stashed changes
  width: 90vw;
  margin: 0 auto;
  max-width: 50rem;
}

.userpage-title {
  display: flex;
  text-align: left;
  padding-top: 3rem;
  border-bottom: 4px solid black;
}

.userpage-title h1 {
  margin-left: 1rem;
}

.userpage-title p {
  color: black;
  align-self: center;
  text-align: right;
  margin-right: 1rem;
  font-size: 1.5rem;
  flex-grow: 2;
}

.userpage-booking {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin: 1rem auto;
}

<<<<<<< Updated upstream
.userpage-booking:hover,
.userpage-booking:active {
  background-color: beige;
  cursor: initial;
=======
.userpage-booking:hover, .userpage-booking:active {
  background-color: beige;
  cursor:initial;
>>>>>>> Stashed changes
  opacity: 0.8;
}

.booking-top {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.booking-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 2;
  margin-right: 1rem;
}

<<<<<<< Updated upstream
.booking-button p {
=======
.booking-button p{
>>>>>>> Stashed changes
  color: black;
  align-self: center;
  margin-right: 1rem;
}

<<<<<<< Updated upstream
.booking-button button {
=======
.booking-button button{
>>>>>>> Stashed changes
  width: 2rem;
}

.booking-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.booking-bottom h3 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.booking-bottom p {
  color: black;
}

.booking-bottom p:last-of-type {
  text-align: right;
  margin-right: 1rem;
  flex-grow: 2;
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
